* {
    box-sizing: border-box;
}

#main {
    text-align: center;
    background-color: #5F506B;
    color: #76949F;
    font-family: Calibri, Helvetica, sans-serif;
    margin: 0px;
}

#title {
    font-size: 48px;
    color: #86BBBD;
}

.content {
    background-color: #533747;
    padding: 15px 0px;
    margin: 0px auto;
    width: 60%;
}


.content-steps h3{
    margin: 0px;
}

img {
    width: 400px;
    height: auto;
    padding: 10px;
}

h2 {
    font-size: 32px;
}

h3.headings {
    font-size: 28px;
    color: #86BBBD;
}


li {
    text-align: left;
}

a {
    color: #76949F;
}

a:visited {
    color: #76949F;
}



